---
interface Props{
    img:string,
    spanish:string,
    english:string,
    latin:string,
    url:string
}
const {img, spanish, latin, english, url} = Astro.props
---
<a href={url}>
    <div class="flex flex-row rounded-lg bg-base-100 hover:ring-inset hover:ring-4 hover:ring-primary min-h-full">
        <div class="m-2 avatar">
            <div class="w-36 lg:w-40 xl:w-48 rounded-lg">
              <img class="object-cover min-h-full w-full " src={img} alt={latin}/>
            </div>
          </div>

        <div class="card-body  justify-center">
            <h1 class="text-2xl">{spanish}</h1>
            <h2 class="italic">{latin}</h2>
            <h2>{english}</h2>
        </div>
    </div>
</a>